---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
	image?: string;
	canonicalURL?: string;
	type?: string;
}

const {
	title = "zzinblog",
	description = "posted by zzinlee",
	image = "/og-image.png",
	canonicalURL = Astro.url.href,
} = Astro.props;
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
	</head>
	<body>
		<slot />
	</body>
</html>
